<h1 class="mb-4 mt-4">Administración de Revisiones</h1>

<div class="container row">

  <div class="container row">
    <div class="col col-sm-4 col-md-6">
      <button type="button" class="btn btn-warning btn-lg btn-block mb-3 font-weight-bold text-white" [routerLink] = "['/reviews/form']">Agregar Revisiones</button>
    </div>
  </div>
  <div class="container row">

    <div   class=" col col-sm-3 col-md-12 ">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Email</th>
            <th>Estrellas</th>
            <th>Comentario</th>
            <!-- <th>Detalle</th> -->
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let revisiones of revisiones" >
            <td>{{revisiones.id}}</td>
            <td>{{revisiones.nombre}}</td>
            <td>{{revisiones.correo}}</td>
            <td>{{revisiones.estrella}}</td>
             <td>{{revisiones.comentario}}</td>
                        <!-- <td><button type="button" class="btn btn-dark btn-lg btn-block">Ver Detalles</button></td> -->
            <td><button type="button" name="editar" class="btn btn-dark btn-lg btn-block" [routerLink] = "['/reviews/form', revisiones.id ]" >Editar</button></td>
            <td><button type="button" name="eliminar" class="btn btn-danger btn-lg btn-block" (click)="delete(revisiones)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 <!--  <div  class="col-md-6">
    <app-add-user *ngIf=" accion === 'add' "  [usuario]="usuarioSeleccionado"></app-add-user>
  </div>
 -->
</div>


