<h1 class="mb-4 mt-4">Administración de Productos</h1>

<div class="container row">

  <div class="container row">
    <div class="col col-sm-4 col-md-6">
      <button type="button" class="btn btn-warning btn-lg btn-block mb-3 font-weight-bold text-white" [routerLink] = "['/products/form']">Agregar Producto</button>
    </div>
  </div>
  <div class="container row">

    <div   class=" col col-sm-3 col-md-12 ">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Referencia Producto:</th>
            <!-- <th>Detalle</th> -->
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <!-- <th>Imagen </th> -->
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let producto of productos">
          <td><strong>{{producto.id}}</strong></td>
          <td><strong>{{producto.refProducto}}</strong></td>
           <td><strong>{{producto.nombre}}</strong></td>
            <td><strong>{{producto.cantidad}}</strong></td>
             <td><strong>{{producto.valortotal}}</strong></td>
              <!-- <td><strong>{{productos.img}}</strong></td> -->
              <td><button type="button" name="editar" class="btn btn-dark btn-lg btn-block" [routerLink] = "['/products/form', producto.id ]" >Editar</button></td>
            <td><button type="button" name="eliminar" class="btn btn-danger btn-lg btn-block" (click)="delete(producto)">Eliminar</button></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
 <!--  <div  class="col-md-6">
    <app-add-user *ngIf=" accion === 'add' "  [usuario]="usuarioSeleccionado"></app-add-user>
  </div>
 -->
</div>

