<h1> {{titulo}} </h1>


<div class="card bg-dark text-white">
<div class="card ">
  <div class="card-header text-dark">

    <div class="card-body ">
      <h5 class="card-title bg-dark text-white text-center">{{ titulo2 }}</h5>

      <p class="card-text bg-dark text-white text-center">Formulario para la creación de Productos </p>
    </div>



 <form>

  <div class="form-group row">
    <label for="nombre" class="sr-only sr-only-focusable">Nombre Marca:</label>
     <div class="col col-sm-2 col-md-6">
       <input type="text"  name="nombre" class="form-control text-dark" placeholder="Nombre Marca:" required
       [(ngModel)]="marca.nombre">
      </div>
  </div>


  <div class="form-group row">
    <label for="visible" class="sr-only sr-only-focusable">Visible</label>
     <div class="col col-sm-2 col-md-6">
       <input type="text"  name="visible" class="form-control text-dark" placeholder="Visible:" required
       [(ngModel)]="marca.visible">
      </div>
  </div>

  <div class="form-group row">
    <label for="codigo" class="sr-only sr-only-focusable">Código</label>
     <div class="col col-sm-2 col-md-6 ">
       <input type="number" name="codigo" class="form-control text-dark" placeholder="Código:" required
       [(ngModel)]="marca.codigo">
      </div>
  </div>


  <br/>
   <div class="form-group row">
     <button type="button"  class="btn btn-dark btn-lg btn-block" (click)='create()' *ngIf="!marca.id else elseBlock" role="button">Crear Marca</button>
  </div>
  <ng-template #elseBlock>
            <button class="btn btn-dark btn-lg btn-block" role="button" (click)='update()'>Actualizar Marca</button>
  </ng-template>

</form>
  </div>
</div>
</div>


